.recipe-card-container {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px 0px;
  flex-wrap: wrap;
  max-height: 72vh;
  overflow: auto;
}

.top {
  padding: 20px 20px 0px;
}

.list-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.view-list-container {
  padding-bottom: 20px;
  margin: 0 auto;
  button {
    margin-top: 5px;
  }
}
