<mat-card class="mat-elevation-z4">
  <div class="icon-container">
    <mat-icon class="star" (click)="toggleFavorite(recipe)">{{
      recipe.favorite ? "star" : "star_outline"
    }}</mat-icon>
    <mat-icon (click)="addRecipe(recipe)" class="add"
      >add_circle_outline</mat-icon
    >
  </div>
  <p class="name">
    {{ recipe.name }}
  </p>
  <div class="bottom">
    <p class="total">Total: {{ recipe.total }}</p>

    <mat-icon *ngIf="recipe.total > 0" (click)="remove(recipe)"
      >remove_circle_outline</mat-icon
    >
  </div>
</mat-card>
