/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/theming";
@import "./scss/variables.scss";
// Be sure that you only ever include 'mat-core' mixin once!
// it should not be included for each theme.
@include mat-core();

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
