/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/theming";
@import "./scss/variables.scss";
// Be sure that you only ever include 'mat-core' mixin once!
// it should not be included for each theme.
@include mat-core();

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Display
.justify-center {
  display: flex;
  justify-content: center;
}

.align-center {
  display: flex;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// Text
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-uppercase {
  text-transform: uppercase;
}

// Margin & Padding
.m-xs {
  margin: $spacing-xs !important;
}
.mt-xs {
  margin-top: $spacing-xs !important;
}
.mb-xs {
  margin-bottom: $spacing-xs !important;
}
.mr-xs {
  margin-right: $spacing-xs !important;
}
.ml-xs {
  margin-left: $spacing-xs !important;
}
.m-sm {
  margin: $spacing-sm !important;
}
.mt-sm {
  margin-top: $spacing-sm !important;
}
.mb-sm {
  margin-bottom: $spacing-sm !important;
}
.mr-sm {
  margin-right: $spacing-sm !important;
}
.ml-sm {
  margin-left: $spacing-sm !important;
}
.m-md {
  margin: $spacing-md !important;
}
.mt-md {
  margin-top: $spacing-md !important;
}
.mb-md {
  margin-bottom: $spacing-md !important;
}
.mr-md {
  margin-right: $spacing-md !important;
}
.ml-md {
  margin-left: $spacing-md !important;
}
.m-lg {
  margin: $spacing-lg !important;
}
.mt-lg {
  margin-top: $spacing-lg !important;
}
.mb-lg {
  margin-bottom: $spacing-lg !important;
}
.mr-lg {
  margin-right: $spacing-lg !important;
}
.ml-lg {
  margin-left: $spacing-lg !important;
}
.m-xl {
  margin: $spacing-xl !important;
}
.mt-xl {
  margin-top: $spacing-xl !important;
}
.mb-xl {
  margin-bottom: $spacing-xl !important;
}
.mr-xl {
  margin-right: $spacing-xl !important;
}
.ml-xl {
  margin-left: $spacing-xl !important;
}
.m-0 {
  margin: 0 !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.mr-0 {
  margin-right: 0 !important;
}
.ml-0 {
  margin-left: 0 !important;
}

.p-xs {
  padding: $spacing-xs !important;
}
.pt-xs {
  padding-top: $spacing-xs !important;
}
.pb-xs {
  padding-bottom: $spacing-xs !important;
}
.pr-xs {
  padding-right: $spacing-xs !important;
}
.pl-xs {
  padding-left: $spacing-xs !important;
}
.p-sm {
  padding: $spacing-sm !important;
}
.pt-sm {
  padding-top: $spacing-sm !important;
}
.pb-sm {
  padding-bottom: $spacing-sm !important;
}
.pr-sm {
  padding-right: $spacing-sm !important;
}
.pl-sm {
  padding-left: $spacing-sm !important;
}
.p-md {
  padding: $spacing-md !important;
}
.pt-md {
  padding-top: $spacing-md !important;
}
.pb-md {
  padding-bottom: $spacing-md !important;
}
.pr-md {
  padding-right: $spacing-md !important;
}
.pl-md {
  padding-left: $spacing-md !important;
}
.p-lg {
  padding: $spacing-lg !important;
}
.pt-lg {
  padding-top: $spacing-lg !important;
}
.pb-lg {
  padding-bottom: $spacing-lg !important;
}
.pr-lg {
  padding-right: $spacing-lg !important;
}
.pl-lg {
  padding-left: $spacing-lg !important;
}
.p-xl {
  padding: $spacing-xl !important;
}
.pt-xl {
  padding-top: $spacing-xl !important;
}
.pb-xl {
  padding-bottom: $spacing-xl !important;
}
.pr-xl {
  padding-right: $spacing-xl !important;
}
.pl-xl {
  padding-left: $spacing-xl !important;
}
.p-0 {
  padding: 0 !important;
}
.pt-0 {
  padding-top: 0 !important;
}
.pb-0 {
  padding-bottom: 0 !important;
}
.pr-0 {
  padding-right: 0 !important;
}
.pl-0 {
  padding-left: 0 !important;
}

.container {
  height: 100%;
  padding: 20px;
}

//Material
.mat-card {
  display: flex !important;
  background: $accent;
  color: white;
  min-height: 150px;
  align-items: center;
  justify-content: center;
}

.mat-form-field {
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.mat-divider {
  margin-bottom: 20px !important;
  border-top-color: $primary;
}
