/* Material Theming */

@import "~@angular/material/theming";
@include mat-core();

$mat-app-primary: (
  50: #fce3f1,
  100: #f8b9dd,
  200: #f48bc7,
  300: #f05db0,
  400: #ec3a9f,
  500: #e9178e,
  600: #e61486,
  700: #e3117b,
  800: #df0d71,
  900: #d9075f,
  A100: #ffffff,
  A200: #ffcfe1,
  A400: #ff9cc1,
  A700: #ff83b0,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$mat-app-accent: (
  50: #fefefe,
  100: #fcfefb,
  200: #fafdf9,
  300: #f7fcf7,
  400: #f6fbf5,
  500: #f4faf3,
  600: #f3f9f1,
  700: #f1f9ef,
  800: #eff8ed,
  900: #ecf6ea,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$mat-app-warn: $mat-red;
$mat-app-theme: mat-light-theme(
  mat-palette($mat-app-primary),
  mat-palette($mat-app-accent),
  mat-palette($mat-app-warn)
);

/* Colors */
$primary: #e9178e;
$accent: #2b2729;
$warn: red;
$white: #fff;
$black: #000;
$dark-gray: #54585a;
$light-gray: #acacac;
$lighter-gray: #f7f7f7;

// mandatory stuff for theming
$app-primary: mat-palette($mat-app-primary);
$app-accent: mat-palette($mat-app-accent);

// include the custom theme components into a theme object
$theme: mat-light-theme($app-primary, $app-accent);

// include the custom theme object into the angular material theme
@include angular-material-theme($theme);
